{% extends 'jobs/base.html' %}
{% load static %}

{% block content %}
  <main>

    <div class="album py-5 bg-light">
      <div class="container">

        <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
          {% for job in jobs %}
              <div class="col">
                  
                  <div class="card shadow-sm">
                      <img src="{{ job.image.url }}" alt="">

                      <div class="card-body">
                      <p class="card-text">{{ job.summary }}</p>
                      <div class="d-flex justify-content-between align-items-center">
                          <div class="btn-group">
                          <a href="{% url 'update' job.pk %}"><button type="button" class="btn btn-sm btn-outline-secondary">Edit</button></a>
                          <form action="{% url 'delete' job.pk %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="btn btn-sm btn-outline-danger">Delete</button>
                          </form>
                          <a href="/"><button type="button" class="btn btn-sm btn-outline-secondary">Back</button></a>
                          </div>
                          <small class="text-muted">{{ job.view_count }} Views</small>
                      </div>
                      </div>
                  </div>
              </div>
          {% endfor %}
        </div>
      </div>
    </div>

  </main>
{% endblock content %}
