{% extends 'jobs/base.html' %}
{% load crispy_forms_tags %}
{% load static %}


{% block content %}
    <main>
        <div class="row">
            <div class="container p-5">
                <form method="post" enctype="multipart/form-data" autocomplete='off'>
                    {% csrf_token %}
                    {% comment %} This format {% endcomment %}
                    {{ form|crispy }}   
                   <!--- {% comment %}  Or this format {% endcomment %}
                    {% comment %} {{ form.summary|as_crispy_field}} {% endcomment %} -->
                    <button type="submit" class="btn btn-primary">Submit</button>
                </form>

            </div>

        </div>

    </main>
{% endblock content %}