{% extends 'portfolio/base.html' %}

{% block content %}
<li class="active"><a href="{% url 'about' %}">About</a></li>
<li><a href="#">Download CV</a></li>

</ul>
</nav><!-- .nav-menu -->
</div>
</header><!-- End Header -->

  <main id="main" style="background:#000e27 ; padding: 145px;" class="pt-5">


    <section class="inner-page">
      <div class="container">
        <div style="border: 1px solid rgba(255, 255, 255, 0.3);!important" class="row">
          <div class="col-lg">
            <img src="https://images.template.net/13802/Strategic-Partnership-Proposal-Letter-Template.jpg" alt="">
          </div>
          <div class="p-5 col-lg">
            <h3 class="pt-5 pb-3">In Summary</h3>
            <p>I am a professional Interface designer basedin lagos nigeria. I have Over 2 years of experience in designing websites, mobile apps and other branding projects  for clients and companies.

              Developing everything from small business websites to small bidding platforms, to eCommerce stores, to blogs, booking systems, business portals, e-learning platforms, to functional
              custom social networks.
              
              I do not only create websites, i offer, longterm support, hosting and domain advice. I work remotely with clients all over the world.</p>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  {% endblock content %}