{% extends 'portfolio/base.html' %}

{% block content %}
<li class=""><a href="/">Home</a></li>
<li><a href="/">Portfolio</a></li>
<li><a href="/">Contact</a></li>
<li class="active"><a href="{% url 'about' %}">About</a></li>
<li><a href="{{ asset.cv }}">Download CV</a></li>

</ul>
</nav><!-- .nav-menu -->
</div>
</header><!-- End Header -->

  <main id="main" style="background:#000e27 ; padding: 145px;" class="pt-5">


    <section class="inner-page">
      <div class="container">
        <div style="border: 1px solid rgba(255, 255, 255, 0.3);!important" class="row">
          <div class="col-lg">
            <img src="{{ personalData.image.url }}" alt="">
          </div>
          <div class="p-5 col-lg">
            <h3 class="pt-5 pb-3">In Summary</h3>
            <p>{{ personalData.about }}</p>
          </div>
        </div>
      </div>
    </section>

  </main><!-- End #main -->

  {% endblock content %}