{% extends 'portfolio/base.html' %}

{% load static %}
{% block content %}
<li class="active"><a href="/">Home</a></li>
<li><a href="#portfolio">Portfolio</a></li>
<li><a href="#contact">Contact</a></li>
<li><a href="{% url 'about' %}">About</a></li>
<li><a href="{{ asset.cv }}">Download CV</a></li>

</ul>
</nav><!-- .nav-menu -->
</div>
</header><!-- End Header -->

  <!-- ======= Hero Section ======= -->
  <section id="hero" class="d-flex align-items-center justify-content-center"> 
    <div class="container" data-aos="fade-up">
      <br><br><br><br>
      <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
        <div class="col-xl-6 col-lg-8">
          <!-- <img width="200" height="200" src="https://pbs.twimg.com/profile_images/1374709371830161408/P0gO0NEu_400x400.jpg" class="rounded-circle mx-auto d-block" alt="..."> -->
          
          <div class="text-center">
            <div class="icon-box">
              <div class="text-center">
                <span 
                style="font-family: Gilroy;
                font-style: normal;
                font-weight: 600;
                font-size: 60px;
                line-height: 124.9%;
                /* identical to box height, or 119px */
                
                letter-spacing: -0.02em;
                text-transform: capitalize;
                
                color: #FFFFFF;"> Hello, I’m <span style="color: #25b1ff;"> Esther! </span> </span>
                <p class="p-3"> {{ personalData.intro }} </p>
                <a href="#contact" class="get-started-btn scrollto">Contact Me</a>
              </div>
            </div>
          </div>
        </div>
      </div>
      <br><br>
      <div class="row pb-3 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
        <div class="row">
          <div class="p-5 icon-box">
            <a href=""><i class="icofont-twitter"></i></a>
          </div>
          <div class="p-5 icon-box">
            <a href=""><i class="icofont-linkedin"></i></a>
          </div>
          <div class="p-5 icon-box">
            <a href=""><i class="icofont-behance"></i></a>
          </div>
          <div class="p-5 icon-box">
            <a href=""><i class="icofont-dribbble"></i></a>
          </div>
        </div>
      </div>

    </div>
  </section>
  
  <!-- End Hero -->

  <main id="main">
    <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 style="color: #25b1ff;">Portfolio</h2>
          <p>Case Studies</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          {% for usecase in usecases %}
            <div class="col-lg-4 col-md-6 portfolio-item">
              <div class="">
                <div class="card" style="background: #152138;!important background-color: #152138;!important">
                  <img src="{{ usecase.image.url }}" class="card-img-top" alt="...">
                  <div class="card-body">
                    <h5 class="pt-3 card-title">{{ usecase.title }}</h5>
                    <p class="card-text" style="color: #939393;">{{ usecase.description }}</p>
                    <a target="_blank" href="{{ usecase.url }}" class="portfolio-wrap">Read case study <img style="color: #25b1ff;" width="70" height="40" src="{% static 'assets/img/right-arrow.svg' %}" alt="right-arrow"> </a>
                  </div>
                </div>
              </div>
            </div>

          {% endfor %}


        </div>

      </div>
    </section>
    
    <!-- UI Portfolio -->
    <section id="portfolio" class="portfolio">
      <div class="container" data-aos="fade-up">

        <div class="section-title">
          <h2 style="color: #25b1ff;">Portfolio</h2>
          <p>UI Projects</p>
        </div>

        <div class="row portfolio-container" data-aos="fade-up" data-aos-delay="200">
          {% for ui in UIProject %}

            <div class="col-lg-4 col-md-6 portfolio-item filter-app">
              <div class="portfolio-wrap">
                <img src="{{ ui.image.url }}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>{{ ui.title }}</h4>
                  <p>{{ ui.description }}</p>
                  <div class="portfolio-links">
                    <a href="{{ ui.url }}" title="More Details"><i class="bx bx-link"></i></a>
                  </div>
                </div>
              </div>
            </div>
          {% endfor %}


        </div>

      </div>
    </section>
    <!-- End Portfolio Section -->

    <!-- ======= Contact Section ======= -->
    <section id="contact" class="contact">
      <div class="container data-aos="fade-up">

        <div class="section-title">
          <h2 style="color: #25b1ff;">Contact</h2>
          <p>Reach out to me</p>
        </div>
        <div class="row mt-5 justify-content-center">

          <div class="col-lg-4">
            <div class="info">
              <div class="address">
                <i class="icofont-google-map"></i>
                <h5 style="padding-left: 4rem;">Location:</h5>
                <p>{{ personalData.address }}</p>
              </div>

              <div class="email">
                <i class="icofont-envelope"></i>
                <h5 style="padding-left: 4rem;">Email:</h5>
                <p>{{ personalData.email }}</p>
              </div>

              <div class="phone">
                <i class="icofont-phone"></i>
                <h5 style="padding-left: 4rem;">Call:</h5>
                <p>{{ personalData.phone }}</p>
              </div>

            </div>

          </div>

          <div class="col-lg-8 mt-2 mt-lg-0">

            <form action="mailto:queeneomah@gmail.com" method="" class="php-email-form">
              {% csrf_token %}
              <div class="form-group">
                <label for="name" class="form-label">Enter name</label>
                <input type="text" class="form-control" name="name" id="name" placeholder="" data-msg="Please enter at least 8 chars of name" />
                <!-- <div class="validate"></div> -->
              </div>

              <div class="form-group">
                <label for="email" class="form-label">Enter email address</label>
                <input type="email" class="form-control" name="email" id="email" placeholder="" data-msg="Please enter at least 8 chars of email" />
                <!-- <div class="validate"></div> -->
              </div>

              <div class="form-group">
                <label for="message" class="form-label">Your message</label>
                <textarea class="form-control" id="message" name="message" rows="5" data-msg="Please write something for us" placeholder=""></textarea>
                <!-- <div class="validate"></div> -->
              </div>
              <!-- <div class="mb-3">
                <div class="loading">Loading</div>
                <div class="error-message"></div>
                <div class="sent-message">Your message has been sent. Thank you!</div>
              </div> -->
              <div class="text-center"><button type="submit">Send Message</button></div>
            </form>

          </div>

        </div>

      </div>
    </section><!-- End Contact Section -->

  </main><!-- End #main -->

 {% endblock content %}